.page-item.enabled .page-link {
    color: #000000 !important;
    background-color: #ffc008bf !important;
    border: 1px solid #ffc107 !important;
}

.page-item.disabled .page-link {
    color: #6c757d !important;
    background-color: #ffc0082e !important;
    border: 1px solid #ffc107 !important;
}
