.table .thead .th {
    border-bottom: none;
    border-top: none;
}
.asc, .desc {
    border-bottom: 4px solid #ffc107 !important;

}
.asc.icon {
    content: none !important;
}
#icon-th::after {
    content: none !important;
}
.asc:after {
    padding-left: 7px;
     content: ' \25BC';
}
.desc:after {
    padding-left: 7px;
    content:  ' \25B2';
}
.icon-sm {
    width: 30px;
    margin-right: 2px;
}
.img-fluid.item {
    height: 60px;
}
.ul {
    list-style-type:none;
}
